



<div class="cont">
  <app-custom-spinner [spinnerConfigs]="configs"></app-custom-spinner>
</div>


<div class="cont">
  <app-three-spinner></app-three-spinner>
</div>
<div class="cont">
  <app-four-spinner></app-four-spinner>
</div>
<div class="cont">
  <app-five-spinner></app-five-spinner>
</div>
<div class="cont">
  <app-six-spinner></app-six-spinner>
</div>
<div class="cont">
  <app-seven-spinner></app-seven-spinner>
</div>
<div class="cont">
  <app-eight-spinner></app-eight-spinner>
</div>
<div class="cont">
  <app-nine-spinner></app-nine-spinner>
</div>
<div class="cont">
  <app-ten-spinner></app-ten-spinner>
</div>
