



<div class="cont">
  <ngx-custom-spinner [configs]="configs"></ngx-custom-spinner>
</div>


<!-- <div class="cont">
  <ngx-three-spinner></ngx-three-spinner>
</div>
<div class="cont">
  <ngx-four-spinner></ngx-four-spinner>
</div>
<div class="cont">
  <ngx-five-spinner></ngx-five-spinner>
</div>
<div class="cont">
  <ngx-six-spinner></ngx-six-spinner>
</div>
<div class="cont">
  <ngx-seven-spinner></ngx-seven-spinner>
</div>
<div class="cont">
  <ngx-eight-spinner></ngx-eight-spinner>
</div>
<div class="cont">
  <ngx-nine-spinner></ngx-nine-spinner>
</div>
<div class="cont">
  <ngx-ten-spinner></ngx-ten-spinner>
</div> -->
